* {
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", 
    Helvetica, Arial, sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smothing: antialiased;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "loc1";
  background-color: #232425;
}

/* Navigation Bar */
.navbar {
  background-color: #1b1c1d;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-around;
  height: 20px;
  z-index: 1;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  color: #a9a9b3;
  display: flex;
  justify-self: flex-start;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: monospace;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 20px;
}

.navbar__links {
  color: #a9a9b3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 .8rem;
  height: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: monospace;
}

.navbar__links:hover {
  color: #a9a9b3;
  transition: all 0.3s ease;
  text-decoration: underline;
}

@keyframes cursor-blink{
  0% {
    opacity: 0;
  }
}

.box::after {
  margin-left: 2px;
  content: "";
  width: 7px;
  height: 1rem;
  background: #a9a9b3;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) 
  infinite;
}

/* Navbar Toggle */
@media screen and (max-width: 800px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 20px;
    z-index: 1;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    margin: 0;
    top: -1000px;
    opacity: 0; 
    z-index: -1; 
    margin-top: 30px;
  }

  .navbar__menu.active {
    background: #1b1c1d;
    top: 10%;
    opacity: 1;
    z-index: 99;
    height: 17vh;
    font-size: 1rem;
    cursor: pointer;
  } 

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #a9a9b3;
    display: block;
    cursor: pointer;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: left;
    display: table;
    font-weight: 5000;
    font-size: 1rem;
    padding: 0 0.25rem;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }


  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}


@media screen and (max-width: 385px) {
  #navbar__logo {
    font-size: 0.98rem;
  }
}

/* Body */
.main {
  background-color: #232425;
  height: 92%;
  justify-content: center;
  align-items: center;
}

.main__container {
  background-color: #232425;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 3rem;
  width: auto; 
}

.main__context {
  color: #212020;
  width: 100%;
}

.main__content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.1;
  text-align: center;
  color: #a9a9b3;
} 

.main__content p {
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.1;
  text-align: center;
  color:#a9a9b3
}

/* Image */
.main__img--container {
  text-align: center;
  width: auto;
  padding: 20px;
}

#main__img {
    max-width: 250px;
    max-height: 250px;
    height: auto;
}

/* Social Media */
.social {
  margin: 3px;
  border-radius: 6px;
  position: relative;
}

.social a{
  font-size: 27px;
  padding: 10px;
  color: #a9a9b3
}

/* Content Mobile Screen Toggle */
@media screen and (max-width: 768px) {
   .main__container {
    margin: 0 auto;
    padding: 2rem;
  } 

  .main__img--container {
    text-align: center;
    width: auto;
    padding: 20px;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .main__content p {
    font-size: 1.5rem;
  }
}

@media screen and (max-height: 480px) {
  .main__content h1 {
    font-size: 2rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    font-size: 1.5rem;
  }

  .post h2{
    font-size: 1rem;
  }

  .post-content p{
    font-size: 0.5rem;
  }

}

/* Footer */
.footer {
  position: fixed;
  height: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #232425;
  color: #a9a9b3;
  text-align: center;
}

/* About Page */
.content {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
}

.post {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  padding-bottom: auto;
  margin: 20px auto;
  color: #a9a9b3;

}

.post-info {
  margin: auto;
  padding: 0;
}

.post h2{
  font-size: 2.7rem;
  padding-left: 1rem;
}

.post-content p{
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1rem;
  line-height: 1.54;
  text-align: left;
}

.post-content a{
  color: #a9a9b3;
}

.post-content a:hover{
  color: #212020;
  background-color: #a9a9a9;
}

.post-content ul{
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1rem;
  line-height: 1.54;
  text-align: left;
  margin-left: 40px;
}

.post-group {
  display: flex;
}

.post-year {
  font-size: 2rem;
  font-weight: 200;
  margin: 1rem;
  margin-bottom: 0;
  line-height: 1.54;
  text-align: left;
  opacity: 0.6;
  font-family: monospace; 
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  margin: 1rem;
  margin-top: 0;
  line-height: 1.54;
}

.post-list li {
  margin: 0;
  padding: 0;
}

.post-item{
  border-bottom: 1px dashed #a9a9b3;
}

.post-item a{
  color: #a9a9b3;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 12px 0;
}

.post-day {
  margin-left: 1em;
  flex-shrink: 0;
  opacity: 0.6;
  font-family: monospace;
}

.post-item a:hover .post-title{
  text-decoration: underline;
}

.post-item a:hover .post-day{
  text-decoration: none;
}

hr {
  opacity: 0.6;
  }

@media screen and (max-width: 768px) {
  .post {
    padding: 7px;
  }

  .post h2{
    font-size: 2.5rem;
  }

  .post-content p{
    font-size: 1.1rem;
  }

  .post-content ul{
    font-size: 1.1rem;
  }

  .post-item a{
    font-size: 1.1rem;
  }
}

embed {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .post {
    padding: 5px;
    padding-right: 10px;
  }

  .content{
    padding-right: 10px;
  }

  .post h2{
    font-size: 2rem;
  }

  .post-content p{
    font-size: 1rem;
  }

  .post-content ul{
    font-size: 1rem;
  }

  .post-item a{
    font-size: 1rem;
  }
}